/* Layout styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-width: 300px;
}

.container > input, .container > button {
  width: 100%;
}


.createUserBackground {
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}