.home {
  display: flex;
  background-color: steelblue;
  height: 100%;
  width: 100%;
  flex-direction: column;
  min-height: 100%;
  overflow: auto;
}

.tileRow {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  flex-grow: 1;
}

.chartRow {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
  flex-grow: 1;
}

.expenseList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 0;
  width: 70%;
  margin-bottom: 0;
}

.expenseList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  text-align: left;
}

.price {
  text-align: right;
}