
.tile {
  display: flex;
  border-radius: 10px;
  border: 3px solid black;
  flex-direction: column;
  /*justify controls main axis, align controls cross axis*/
  align-items: center;
  justify-content: center;
  /*horizontal offset, vertical offset, blur radius, color (rgb opacity)*/
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: cadetblue;
  color:white;
  transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
  flex: 1;
  min-width: 250px;
  max-width: 30%;
  height: 250px;
  height: 250px;
  margin: 10px;
  padding: 10px;
}

.tile:hover {
  transform: scale(1.05);
}

.tile:hover h3 {
  color:darkblue;
}

.header {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
  /*left right*/
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.content::-webkit-scrollbar {
  display: none;
}

.center {
 text-align: center;
}