body, html {
  height: 100%;
}

h1 {
  font-size: 2vw;
}

.flex {
  display: flex;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.left {
  justify-content: left;
}

.right {
  justify-content: right;
}

.row.center {
  justify-content: center;
}

input, label, button {
  font-size: 1.5vw;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.hidden {
  display: none;
}

.wide {
  width: 100%;
}

.container {
  width: 25%;
}

.helpButton {
  width: 25%;
  color: white;
}
