.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(28, 66, 103);
  color: white;
  height: 5vh;
}

.nav a {
  transition: background-color 0.5s ease;
  color: white;
}

.nav a:hover {
  background-color: steelblue;
}

.pageTitleContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.pageTitleContainer h2 {
  min-width: 180px;
  padding: 10px;
}

.quickButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  min-width: 340px;
}

.quickButtonContainer a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a.logout {
  transition: background-color 0.5s ease;
}

a.logout:hover {
  background-color: red;
}
