
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(16, 112, 214);
  /* Top/bottom = 0, left/right = 1rem */
  align-items: stretch;
}

.nav ul {
  display: flex;
  /* Removes bullet points */
  list-style: none;
  /* Space between list items */
  gap: 1rem;
  margin: 0;
}

.nav a {
  display: flex;
  padding: 2rem;
  text-decoration: none;
  transition: background-color 0.5s ease;
  align-items: center;
}

.nav a:hover {
  background-color: rgb(43, 226, 70);
}

.page-title {
  font-size: 2rem;
}